@{
    ViewData["Title"] = "Covid-19";
}
<h1>@ViewData["Title"]</h1>

<div class="card-deck">
    <div class="card">
        <img class="card-img-top" src="~/Images/coronavirus.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">What is Covid-19?</h5>
        </div>
        <div class="card-footer">
            <a href="#firstId" class="btn btn-primary">Click Here</a>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="~/Images/coronavirus-testing.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Corona Test</h5>
        </div>
        <div class="card-footer">
            <a href="#secondId" class="btn btn-primary">Click Here</a>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="~/Images/trafficlightmodel.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="Card title">The traffic Light Model</h5>
        </div>
        <div class="card-footer">
            <a href="#thirdId" class="btn btn-primary">Click Here</a>
        </div>
    </div>
</div>

@* Video *@
<div>
    <video class="mt-5 mx-auto" width="450" height="300" controls autoplay>
        <source src="~/Images/What Is Coronavirus (COVID-19)_.mp4" type="video/mp4">
    </video>
</div>

<div class="m-5 p-5 jumbotron" id="firstId">
    <div class="container">
        <div class="card-deck">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">What is Covid-19?</h3>
                    <p class="card-text">
                        Coronavirus disease (COVID-19) is an infectious disease caused by a newly discovered coronavirus.<br />
                        Most people infected with the COVID-19 virus will experience mild to moderate respiratory illness and recover without requiring special treatment.<br />
                        Older people, and those with underlying medical problems like cardiovascular disease, diabetes, chronic respiratory disease, and cancer are more likely to develop serious illness.<br />
                        The COVID-19 virus spreads primarily through droplets of saliva or discharge from the nose when an infected person coughs or sneezes, so it’s important that you also practice respiratory etiquette (for example, by coughing into a flexed elbow).<br />
                        <b>Symptoms</b> <br />
                        The most common symptoms of COVID-19 are fever, dry cough, and tiredness. <br />
                        Other symptoms that are less common and may affect some patients include loss of taste or smell, aches and pains, headache, sore throat, nasal congestion, red eyes, diarrhoea, or a skin rash.<br />
                        <b>What to do to keep yourself and others safe from COVID-19</b><br />
                        Maintain at least a 1-metre distance between yourself and others to reduce your risk of infection when they cough, sneeze or speak. Maintain an even greater distance between yourself and others when indoors. The further away, the better.<br />
                        Make wearing a mask a normal part of being around other people.<br />
                        clean your hands with an alcohol-based hand rub or wash them with soap and water.<br />
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="m-5 p-5 jumbotron" id="secondId">
    <div class="container">
        <div class="card-deck">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Corona Test</h3>
                    <p class="card-text">
                        Two kinds of tests are available for COVID-19:<br />
                        A <b>viral test</b> tells you if you have a current infection.<br />
                        An <b>antibody test</b> might tell you if you had a past infection.<br />
                        <b>Considerations for who should get tested</b><br />
                        People who have symptoms of COVID-19.<br />
                        People who have had close contact (within 6 feet for a total of 15 minutes or more) with someone with confirmed COVID-19.<br />
                        People who have been asked or referred to get testing by their healthcare provider, localexternal icon or state ​health department.<br />
                        Not everyone needs to be tested. If you do get tested, you should self-quarantine/isolate at home pending test results and follow the advice of your health care provider or a public health professional.<br />
                        <b>Results</b><br />
                        If you test positive, know what protective steps to take to prevent others from getting sick.<br />
                        If you test negative, you probably were not infected at the time your sample was collected. The test result only means that you did not have COVID-19 at the time of testing. Continue to take steps to protect yourself.<br />
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="m-5 p-5 jumbotron" id="thirdId">
    <div class="container">
        <div class="card-deck">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">The traffic Light Model</h3>
                    <p class="card-text">
                        This outline includes the imposition of restrictions for containing the spread of the coronavirus based on the classification of local authorities in Israel in four categories (red, orange, yellow and green).<br />
                        In accordance with the traffic light outline, customized assistance tools will be designed for each local authority with a view to educating the public, enforcing, building information systems, providing assistance in breaking the chains of infection and providing social assistance.<br />
                        According to the new outline, each local authority will be marked from 0 to 10 based on the following parameters:<br />
                        Number of new cases per week per 10,000 residents, percentage of positive test results per local authority per week and the growth rate of new cases in each local authority per week.<br />
                        Once every two weeks, based on each local authority's data average in the preceding week, this local authority's classification will be determined as follows:<br />
                        A local authority with an average mark over 7.5 will be classified as red area;<br />
                        A local authority with an average grade between 6 and 7.5 will be classified as an orange area;<br />
                        A local authority with an average grade between 4.5 and 6 will be classified as a yellow area;<br />
                        A local authority with an average grade below 4.5 will be classified as a green area.<br />
                    </p>
                    <p>
                        <h5>Gathering in Accordance with the Traffic Light Model</h5>
                        <b>In a "Red" Area</b><br />
                        The number of people will not exceed 20 people outdoors and 10 people indoors.<br />
                        <br />
                        <b>In an "Orange" Area</b><br />
                        Outdoors – Gatherings of up to 50 people<br />
                        In the outdoor area of a public or commercial establishment – No more than 40% the maximum permitted capacity according to this business' license.<br />
                        In case that this business' license contains no maximum capacity stipulations – no more than one person per 4 square meters and no more than 50 people in total.<br />
                        Indoors – Gatherings up to 25 people<br />
                        In the indoor area of a public or commercial establishment – No more than 20% the maximum permitted capacity according to this business' license.<br />
                        In case that this business' license contains no maximum capacity stipulations – no more than one person per 4 square meters and no more than 25 people in total.<br />
                        <br />
                        <b>In a "Yellow" Area</b><br />
                        Outdoors – Gatherings of up to 100 people<br />
                        In the outdoor area of a public or commercial establishment – No more than 60% the maximum permitted capacity according to this business' license.<br />
                        In case that this business' license contains no maximum capacity stipulations – no more than one person per 4 square meters and no more than 100 people in total.<br />
                        Indoors – Gatherings up to 50 people<br />
                        In the indoor area of a public or commercial establishment – No more than 40% the maximum permitted capacity according to this business' license.<br />
                        In case that this business' license contains no maximum capacity stipulations – no more than one person per 4 square meters and no more than 50 people in total.<br />
                        <br />
                        <b>In a "Green" Area</b><br />
                        Outdoors – Gatherings of up to 250 people<br />
                        In the outdoor area of a public or commercial establishment – No more than 80% the maximum permitted capacity according to this business' license.<br />
                        In case that this business' license contains no maximum capacity stipulations – no more than one person per 4 square meters and no more than 250 people in total.<br />
                        Indoors – Gatherings up to 100 people<br />
                        In the indoor area of a public or commercial establishment – No more than 60% the maximum permitted capacity according to this business' license.<br />
                        In case that this business' license contains no maximum capacity stipulations – no more than one person per 4 square meters and no more than 100 people in total.<br />
                    </p>
                    @* link to the traffic light model *@
                </div>
            </div>
        </div>
    </div>
</div>