@{
    ViewData["Title"] = "PlasticSurgery";
}
<h1>@ViewData["Title"]</h1>

@* stistical ad of facelift surgery - jquery*@
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
        $(document).ready(function(){
        $("#sale").mouseenter(function(){
            alert("sale!!sale!!sale!!\nFacelift surgery just on Half price");
        });   
        });
 </script>

<div class="card-deck" id="sale">
    <div class="card">
        <img class="card-img-top" src="~/Images/Rhinoplasty.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Rhinoplasty</h5>
        </div>
        <div class="card-footer">
            <a href="#firstId" class="btn btn-primary">Click Here</a>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="~/Images/Facelift.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Facelift</h5>
        </div>
        <div class="card-footer">
            <a href="#secondId" class="btn btn-primary">Click Here</a>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="~/Images/Hyaluronic Acid.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="Card title">Hyaluronic Acid</h5>
        </div>
        <div class="card-footer">
            <a href="#thirdId" class="btn btn-primary">Click Here</a>
        </div>
    </div>
</div>

<div class="m-5 p-5 jumbotron" id="firstId">
    <div class="container">
        <div class="card-deck">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Rhinoplasty</h3>
                    <p class="card-text">
                        Rhinoplasty (RIE-no-plas-tee) is surgery that changes the shape of the nose.<br />
                        The motivation for rhinoplasty may be to change the appearance of the nose, improve breathing or both.<br />
                        The upper portion of the structure of the nose is bone, and the lower portion is cartilage.<br />
                        Rhinoplasty can change bone, cartilage, skin or all three.<br />
                        <br />
                        <b>Risks</b><br />
                        As with any major surgery, rhinoplasty carries risks such as:<br />
                        •	Bleeding<br />
                        •	Infection<br />
                        •	An adverse reaction to the anesthesia<br />
                        Other possible risks specific to rhinoplasty include but are not limited to:<br />
                        •	Difficulty breathing through your nose<br />
                        •	Permanent numbness in and around your nose<br />
                        •	The possibility of an uneven-looking nose<br />
                        •	Pain, discoloration or swelling that may persist<br />
                        •	Scarring<br />
                        •	A hole in the septum (septal perforation)<br />
                        •	A need for additional surgery<br />
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="m-5 p-5 jumbotron" id="secondId">
    <div class="container">
        <div class="card-deck">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Facelift</h3>
                    <p class="card-text">
                        A face-lift (rhytidectomy) is a cosmetic surgical procedure to create a younger appearance in your face.<br />
                        The procedure can reduce the sagging or folds of skin on the cheeks and jawline and other changes in the shape of your face that occur with age.<br />
                        During a face-lift, a flap of skin on each side of the face is pulled back, and tissues below the skin are surgically altered to return the contour of the face to a more youthful shape.<br />
                        Before the flap is sutured closed, excess skin is removed.<br />
                        <br />
                        <b>Risks</b><br />
                        A face-lift surgery can cause complications.<br />
                        Some can be managed with appropriate care, medication or surgical correction.<br />
                        Long-term or permanent complications, while rare, can cause significant changes in appearance.<br />
                        The risks include:<br />
                        <b>Hematoma</b><br />
                        A collection of blood (hematoma) under the skin that causes swelling and pressure is the most common complication of face-lift surgery.<br />
                        Hematoma formation, which usually occurs with 24 hours of surgery, is treated promptly with surgery to prevent damage to skin and other tissues.<br />
                        <b>Scarring</b><br />
                        Incision scars from a face-lift are permanent but typically concealed by the hairline and natural contours of the face and ear.<br />
                        Rarely, incisions can result in raised, red scars.<br />
                        Injections of a corticosteroid medication or other treatments might be used to improve the appearance of scars.<br />
                        <b>Nerve injury</b><br />
                        Injury to nerves, while rare, can temporarily or permanently affect nerves that control sensation or muscles.<br />
                        Temporary paralysis of a select muscle, resulting in an uneven facial appearance or expression, or temporary loss of sensation can last a few months to a year.<br />
                        Surgical interventions may offer some improvement.
                        <b>Hair loss</b><br />
                        You might experience temporary or permanent hair loss near the incision sites.<br />
                        Permanent hair loss can be addressed with surgery to transplant skin with hair follicles.<br />
                        <b>Skin loss</b><br />
                        Rarely, a face-lift can interrupt the blood supply to your facial tissues.<br />
                        This can result in skin loss (sloughing).<br />
                        Sloughing is treated with medications, appropriate wound care and, if necessary, a procedure to minimize scarring.<br />
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="m-5 p-5 jumbotron" id="thirdId">
    <div class="container">
        <div class="card-deck">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Hyaluronic Acid</h3>
                    <p class="card-text">
                        <b>What is Hyaluronic Acid?</b><br />
                        Hyaluronic acid naturally occurs in the human body – it acts as a magnet, drawing in and retaining moisture in a binding process that instantly improves skin’s hydration levels.<br />
                        Each molecule has the ability to hold up to 1000 times its weight in water (for every gram of hyaluronic acid applied, that’s six litres of water!).<br />
                        <br />
                        <b>What are the benefits of Hyaluronic Acid?</b><br />
                        – Hydrated skin is healthy skin and healthy skin can heal faster.<br />
                        So if you suffer from breakouts or scars, you’ll notice them healing much faster when you’re using hyaluronic acid in your routine.<br />
                        – Skin feels soft, plump, and pillowy, and looks brighter and clearer.<br />
                        – Lines, wrinkles, and loose skin are plumped up so appear less obvious.<br />
                        – Because of its ability to attract, draw in, and retain moisture, using hyaluronic acid before applying your serums and moisturisers will massively help to improve their hydrating benefits.<br />
                        <br />
                        <b>Who is Hyaluronic Acid suitable for?</b><br />
                        Everyone and anyone.<br />
                        Despite its name, hyaluronic isn’t like other acids, which have exfoliating properties that can be harsh and stripping.<br />
                        No matter what your age or skin type, you can always benefit from added hydration – even sensitive and oily skin will receive hyaluronic acid well.<br />
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>